<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="my-4">Employee List</h1>
        <a href="{% url 'employee_create' %}" class="btn btn-success mb-3">Add Employee</a>
        <ul class="list-group">
            {% for employee in employees %}
                <li class="list-group-item">
                    <strong>{{ employee.name }}</strong> - {{ employee.department }} - {{ employee.id }}
                    <a href="{% url 'employee_update' employee.id %}" class="btn btn-warning btn-sm float-right ml-2">Edit</a>
                    <a href="{% url 'employee_delete' employee.id %}" class="btn btn-warning btn-sm float-right ml-2">Delete</a>

                </li>
            {% endfor %}
        </ul>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
